@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/* common styles for all */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.cursive-font {
    font-family: "Cedarville Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
.background-color{
    background-color: black;
}
.width{
    max-width: 1060px;
    margin: 0 auto;
}

/* shared styles */
    .display-flex{
        display: flex;
    }
    .text-white, th{
        color: rgb(255, 255, 255);
    }
    .text-light-white, td{
        color: rgba(255, 255, 255, 0.5);
    }
    .special-text{
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-weight: 900;
    }
    .special-text-1{
        font-size: 1.75rem;
        font-weight: 800;
    }
    .bg-light{
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    }
    .btn-primary{
        background-color: rgb(230, 83, 60);
        color: white;
        padding: 16px 46.5px;
        font-size: 1.125rem;
        font-weight: 600;
        border-radius: 42px;
        border: none;
        margin-right: 10px;
    }
    .btn-secondary{
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
    }
    .btn-color{
        background-color: black;
        border: 1px solid white;
    }
/* header styles */


/* navbar related styles */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.brand{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
}
.nav-bar, .banner{
    max-width: 1060px;
    margin: 0 auto;
}
.hamburger-menu{
    display: none;
}

/* banner related style */
.banner{
    gap: 167px;
}
.banner-content{
    max-width: 520px;
    text-align: left;
    margin-bottom: 28px;
}
.banner-title{
    font-weight: 900;
    font-size: 3.5rem;
    margin-top: 28px;
    margin-bottom: 28px;
}
#tutorial-batch{
    padding: 20px 25px;
}
#tutorial-nmbr{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
.sp1{
    margin-left: -73px;
    margin-top: -120px;
}
.sp2{
    position: absolute;
    margin-left: 120px;
    margin-top: -420px;
}

/* 1st section starts here */
.habit-part{
    text-align: center;
}
.pic-sizing{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}
.txt-design{
    margin-top: 25px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
}
.txt-design-1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 6px;
}
.box{
    width: 231px;
    height: 350px;
    margin-right: 20px;
}
.box-of-content{
    justify-content: center;
}
.description{
    text-align: center;
}

/* 2nd section style starts here */
.run{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    margin-top: 100px;
}
.run-1{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 54px 30px 32px 29px;
}
.run-content{
    padding-right: 165px;
}
.run-image{
    width: 366px;
    height: 312px;
    border-radius: 18px;
}
.run button{
    margin-top: 34px;
}

/* 3rd mini section starts here */
.mini-part{
    text-align: center;
}

/* 4th section starts from here which is a part of challenge section */
.calculator{
    justify-content: space-between;
    padding: 50px;
    background-color:rgb(34, 34, 34);
}
.table-part{
    width: 300px;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
  }



.btn-style{
    width: 282.5px;
height: 48px;
padding: 12px 40px 12px 20px;
margin: 0px 12px;
border-radius: 8px;
border: none;
background: rgba(255, 255, 255, 0.1);
}
.btn-part{
    margin-top: 30px;
}


.info-chart{
    /* margin-left: 30%; */
    width: 400px;
}
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* width: 400px; */
}

.input-group {
    display: flex;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.input-group input::placeholder,
.input-group select {
    color: #999;
}

.activity {
    grid-column: span 2;
}

/* 5th section starts here */
.instructor-part{
    text-align: center;
}
.pic-sizing-1{
    width: 326.67px;
    height: 272px;
    /* padding: 15px; */
    margin: 20px 0px;
    border-radius: 18px;
}
.instructor-list{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/* footer styles starts here */
.container{
    background: rgba(255, 255, 255, 0.1);
    margin-top: 88px;
}
.footer-details{
    padding-bottom: 40px;
}
.footer-intro{
    /* width: 443px; */
    margin-right: 102px;
}
.font1{
    color: rgb(230, 83, 60);
    font-size: 4.2rem;
    font-weight: 800;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 20px;
}
.text-info{
    margin-bottom: 5px;
}
.footer-part-1{
    margin-right: 150px;
}
.text-title{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 39px;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.last-text{
    text-align: center;
}

/* responsive media query */
@media screen and (max-width: 576px){

    .banner, 
    .nav-bar,
    .nav-links, 
    .box-of-content,
    .run-1,
    .instructor-list,
    .footer-details,
    .calculator{
        flex-direction: column;
    }
    .banner-part{
        width:100%;
    }
    /* body{
        width: 393px;
        margin: 0 auto;
    } */
    .nav-bar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sp1{
        margin-top: -120px;
        margin-left: 0px;
    }
    .sp2{
        position: absolute;
        margin-left: 0px;
        margin-top: -420px;
    }

    .nav-bar, .banner{
        max-width: 393px;
        margin: 0 auto;
    }
    .nav-item{
        display: none;
    }
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40px;
        height: 30px;
        cursor: pointer;
    }
    
    .line {
        width: 100%;
        height: 5px;
        background-color: #333;
        border-radius: 5px;
    }
    .box-of-content{
        align-items: center;
    }
    .box{
        margin-top: 36px;
    }
    .run-1{
        text-align: left;
    }
    .run-content{
        padding: 20px;
    }
    .run-description{
        padding-bottom: 20px;
    }
    .instructor-list{
        display: flex;
    }
    .footer-part-1{
        margin-right: 0px;
    }
    .footer-details{
        justify-content: center;
        padding-left: 15px;
    }
    .info-chart{
        max-width: 100%;
    }
}