@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/* common styles for all */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.cursive-font {
    font-family: "Cedarville Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
.background-color{
    background-color: black;
}
.width{
    max-width: 1060px;
    margin: 0 auto;
}

/* shared styles */
    .display-flex{
        display: flex;
    }
    .text-white, th{
        color: rgb(255, 255, 255);
    }
    .text-light-white, td{
        color: rgba(255, 255, 255, 0.5);
    }
    .special-text{
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-weight: 900;
    }
    .special-text-1{
        font-size: 1.75rem;
        font-weight: 800;
    }
    .bg-light{
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    }
    .btn-primary{
        background-color: rgb(230, 83, 60);
        color: white;
        padding: 16px 46.5px;
        font-size: 1.125rem;
        font-weight: 600;
        border-radius: 42px;
        border: none;
        margin-right: 10px;
    }
    .btn-secondary{
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
    }
    .btn-color{
        background-color: black;
        border: 1px solid white;
    }
/* header styles */


/* navbar related styles */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.brand{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
}
.nav-bar, .banner{
    max-width: 1060px;
    margin: 0 auto;
}
.hamburger-menu{
    display: none;
}

/* banner related style */
.banner{
    gap: 167px;
}
.banner-content{
    max-width: 520px;
    text-align: left;
    margin-bottom: 28px;
}
.banner-title{
    font-weight: 900;
    font-size: 3.5rem;
    margin-top: 28px;
    margin-bottom: 28px;
}
#tutorial-batch{
    padding: 20px 25px;
}
#tutorial-nmbr{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
.sp1{
    margin-left: -73px;
    margin-top: -120px;
}
.sp2{
    position: absolute;
    margin-left: 120px;
    margin-top: -420px;
}